body{ 
    background-color: #070707;
    color: white;
    margin: 0;
}

h1{
    font-weight: bold;
    text-align: center;
}

p{
    margin-bottom: 20px;
    margin-left: 50px;
}

header{
    padding: 20px 20px;
    text-align: right;
}

footer{
    text-decoration: overline;
    margin-top: 150px;
    text-align: center;
}

div{
    max-width:100%; 
    background:black;
    position:static; 
    top:0;
    left:0;
}

.navbar ul li{
    float: none;
    display: inline-block;
}

.navbar ul li:nth-child(1) {
    float: right;
}

.navbar ul li:nth-child(2) {
    float: right;
}

.navbar ul li:nth-child(3) {
    float: right;
}


.navbar ul li a{
    color: gray;
    font-size: 20px;
    text-transform: none;
    text-decoration: none;
    display: block;
    padding: 40px 70px;
}

.navbar ul li a:hover{
    cursor: pointer;
    text-transform: uppercase;
}

.pages{
    display: block;
}

.pages li a{
    color: white;
    font-size: 20px;
    text-transform: none;
    text-decoration: none;
    display: block;
    padding: 20px 50px;
} 

.container {
    padding-top: 3px;
    padding-bottom: 30px;
}

.logo{
    width: 200px;
    height: 150px;
    position: absolute;
    left: 10%;
    margin-top: 2px;
    content: "";
    text-align: center;
}

#nasa{
    width: 700px;
    height: 450px;
    position: relative;
    text-align: center;
    content: "";
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}






