<link rel="stylesheet" href="style.css">

<%- include('../template/head')-%>

<body>
    <div>
        <%- include('../template/nav.ejs')-%>

        <main>
            <div class="container">
                <p>The National Aeronautics and Space Administration (NASA; /ˈnæsə/) is an independent agency of the U.S. federal government 
                    responsible for the civilian space program, as well as aeronautics and space research.
                </p>
                <br><br>
                <div id="nasa">
                    <img  src="https://cdn.cnn.com/cnnnext/dam/assets/190207123342-xl-nasa-archives-p176-exlarge-169.jpg">
                </div>
            </div>

        </main>

        <%- include('../template/footer.ejs')-%>
    </div>
</body>
</html>
