<header>
    <div class="container">
        
        <nav class="navbar">
            <ul>
                <li><img class="logo" src="../download.png"></li>
                <li><a id="galleries" href="/galleries">Galleries</a></li>
                <li><a id="missions" href="/missions">Missions</a></li> 
                <li><a id="home" href="/">Home</a></li>
            </ul>
        </nav>
    </div>
</header>